// variables
$default-font-size: 1.6rem;
$color-black: #000;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.container {
    font-size: $default-font-size;
    display: flex;
    height: 100vh;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.6rem;
    padding: 4rem;
    
    &__nav {
        display: flex;

        &--link {
            font-weight: 700;
            font-size: 1.8rem;
            margin: 1rem 2rem;
            transition: all .2s;

            &:hover {
                border-top: 3px solid #008080;
            }
        }
    }
}

.right {
    width: 70%;
    position: relative;

    &__content {
        padding: 1rem;
        margin: 8rem 6rem;
        display: flex;
        flex-direction: column;

        &--text-area {
            line-height: 3rem;
            font-weight: 400;
            text-align: left;
            width: 70%;
            margin: 3rem 0;

            &--header {
                margin: 3rem 0;
                font-size: 6rem;
            }
        }
    }

    &__player {
        padding: 2rem;
        background-color: $color-black;
        color: white;
        display: flex;
        position: absolute;
        bottom: 0;

        &--cover {
            background-image: url('../img/bw-flower-2.JPG');
            background-size: cover;
            border-radius: 1rem;
            width: 30%;
            margin: 0 1rem;
        }

        &--text {
            margin: 2rem;
            line-height: 2rem;

            & > h3 {
                margin: 1rem 0;
            }
        }
    }
}

.left {
    width: 60%;
    background-image: url('../img/bw-flower-2.JPG');
    background-size: cover;
    // background-position: 50% 20%;
}

.button {
    border: 1px solid $color-black;
    width: 13rem;
    border-radius: 100rem;
    padding: 1rem 3rem;
    text-decoration: none;
    color: $color-black;
    transition: all .2s;

    &:hover {
        color: white;
        background-color: $color-black;
    }
}